.modal-container {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    &.show {
        display: flex;
    }
    .modal-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(30, 30, 30, 0.45);
        z-index: 0;
    }
    .modal-body {
        z-index: 1;
        background: rgb(9, 9, 9);        
        width: 100%;
        max-width: 870px;
        box-shadow: 1px 1px 17px #252525;
    }
    .btn-close {
        border: 0;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #040404;
        color: white;
        cursor: pointer;
        &:hover {
            background: #181818;
        }
    }
    .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(69, 69, 69);
    }
}
